@import './variable/_variable.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

//Header
.header {
    background: $bg-dark;

    .container {
        display: flex;
        justify-content: space-between;
        height: 50px;
        align-items: center;

        .logo {
            a {
                img {}
            }
        }

        .login {

            a {
                @include mText($text-16, $fw-light, $text-white);

                img {}

                text-decoration: none;
                margin: 0 $m-2;

            }

        }
    }
}

//Navi
.nav {
    height: 50px;

    .container {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;

            margin: 0 $m-2;
            @include mText($text-20, $fw-light, $text-dark);
        }
    }
}

//carousel
.carousel {
    background: url(/assets/img/image\ 6.png);
    background-size: cover;
    background-position: bottom right;

    .container {
        display: flex;
        justify-content: space-between;
        height: 530px;
        align-items: center;

        .thumb-nail {
            img {
                width: 100%;
            }
        }

        .product-info {
            .product-title {
                @include mText($text-40, $fw-light, $text-dark);

            }

            .product-desc {
                @include mText($text-20, $fw-light, $text-dark);
                margin-bottom: 30px;

            }

            .btn-buy {
                @include mButton($text-20, $fw-light, $text-white, $bg-yellow-100, 12px 40px, none, none, $bg-yellow-200, none);
                text-align: center;
            }
        }
    }
}

//product
.product {
    height: 1044px;
    margin: $m-9 auto;


    .container {
        .product-title {
            @include mText($text-40, $fw-normal, $text-dark);
            text-align: center;
            margin: $m-10 auto;

        }

        .row {
            display: flex;
            flex-wrap: wrap;
            height: 369px;

            .col {
                flex: auto;
                width: calc(100%/3);
                padding: $p-9 $p-10;

                .card {
                    background: $bg-grey-50;
                    box-shadow: rgba(0, 0, 0, 0.25);
                    border: none;

                    img {
                        padding: 50px 40px;


                    }

                    .card-body {
                        padding: 0;

                        .name-price {
                            .name {
                                @include mText($text-24, $fw-light, $text-dark);
                                padding: $p-0 $p-6;
                            }

                            .desc {
                                @include mText($text-20, $fw-light, $text-grey);
                                padding: $p-0 $p-6;


                            }

                            .buy-money {
                                display: flex;
                                justify-content: space-between;
                                height: 64px;

                                .buy-now {
                                    width: 60%;
                                    @include mButton($text-24, $fw-light, $text-dark, $bg-yellow-200, 12px 40px, none, none, $bg-yellow-200, none);

                                }

                                .money {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 40%;


                                    background: $bg-grey-200;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.register {
    .container {
        .title {
            @include mText($text-40, $fw-normal, $text-dark);
            text-align: center;
        }

        .row {
            .col {
                padding: $p-2 $p-regis;

                .form-control {
                    margin: $m-5;
                    border: none;
                    border-radius: 0;
                    border-bottom: 5px solid rgba(174, 24, 226, 1) !important;

                    &::placeholder {
                        @include mText($text-30, $fw-normal, $text-dark);
                    }


                }

                .gender {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    padding: $p-0 $p-7;
                    .title{
                        @include mText($text-30, $fw-normal, $text-dark);

                    }
                    .form-check-input{
                        padding: $p-3;
                        margin: 0 $p-4;
                        &:checked{
                            background-color: $bg-pink;
                            border: none;
                        } 
                    }

    
                }

            }
        }
        .sub {
            @include mButton($text-30, $fw-normal, $text-white, $bg-pink, 12px 120px, none, none, $bg-yellow-200, none);
        }
    }
}



//footer
.footer1 {
    margin: 100px 0 0 0;
    background-color: #FAFAFA;

    .container {
        .div1 {
            display: flex;
            height: auto;
            padding: 50px 100px;

            .help {
                width: calc(100%/3);

                .title {
                    @include mText($text-24, $fw-bold, $text-dark);
                }

                a {
                    display: block;
                    text-decoration: none;
                    @include mText($text-16, $fw-semi, $text-dark);
                }
            }

            .oders {
                width: calc(100%/3);

                .title {
                    @include mText($text-24, $fw-bold, $text-dark);
                }

                a {
                    display: block;
                    text-decoration: none;
                    @include mText($text-16, $fw-semi, $text-dark);
                }
            }

            .register {
                width: calc(100%/3);

                .title {
                    @include mText($text-24, $fw-bold, $text-dark);
                }

                .desc {
                    @include mText($text-16, $fw-semi, $text-dark);
                }

                .more {
                    text-decoration: none;
                    @include mText($text-16, $fw-semi, $text-more);
                }
            }
        }
    }
}

.footer2 {
    background-color: #ECECEC;

    .container {
        .div2 {
            display: flex;

            padding: 50px 100px;

            .email {
                width: calc(100%/3);

                .title {
                    @include mText($text-24, $fw-bold, $text-dark);
                }

                .desc {
                    @include mText($text-16, $fw-semi, $text-dark);
                }

                .more {
                    text-decoration: none;
                    @include mText($text-16, $fw-semi, $text-more);
                }
            }

            .gift {
                width: calc(100%/3);

                .title {
                    @include mText($text-24, $fw-bold, $text-dark);
                }

                .desc {
                    @include mText($text-16, $fw-semi, $text-dark);
                }

                .more {
                    text-decoration: none;
                    @include mText($text-16, $fw-semi, $text-more);
                }

            }

            .store {
                width: calc(100%/3);

                .title {
                    @include mText($text-24, $fw-bold, $text-dark);
                }

                .desc {
                    @include mText($text-16, $fw-semi, $text-dark);
                }

                .more {
                    text-decoration: none;
                    @include mText($text-16, $fw-semi, $text-more);
                }
            }
        }
    }
}